.background {
    background-color: black;
    width: 100vw;
}
.container {
    width: fit-content;
    position: relative;
    top: 10vh;
    text-align: center;
}

.buttons {
    position: relative;
    top: 20vh;
    text-align: center;
}

#title {
    color: firebrick;
    font-size: 90px;
    font-weight: 200;
    transition-duration: 200ms;
    
}

#title:hover {
    font-weight: 600;
}